
	<!-- delete-page -->
	<section class="clearfix job-bg delete-page">
		<div class="container">
			<div class="breadcrumb-section">
				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li><a href="index-2.html">Home</a></li>
					<li>Close account</li>
				</ol><!-- breadcrumb -->						
				<h2 class="title">Close Account</h2>
			</div><!-- banner -->

			<div class="job-profile section">	
				<div class="user-profile">
					<div class="user-images">
						<img src="images/user.jpg" alt="User Images" class="img-responsive">
					</div>
					<div class="user">
						<h2>Hello, <a href="#">{{userinfo.firstname}}  {{userinfo.lastname}}</a></h2>
					</div>

					<div class="favorites-user">
						<div class="my-ads">
							<a href="#">29<small>Applied Jobs</small></a>
						</div>
					</div>								
				</div><!-- user-profile -->
						
				<ul class="user-menu">
					<li class="active"><a href="{{baseurl}}Account/Dashboard">Account Info </a></li>
					<li><a href="{{baseurl}}Account/EditProfile">Edit Profile</a></li>
					<li><a href="{{baseurl}}Account/Applied">Applied jobs</a></li>
					<li><a href="{{baseurl}}Account/Delete">Delete account</a></li>
				</ul>
			</div><!-- ad-profile -->
			<div class="close-account text-center">
				<div class="delete-account section">
					<h2>Delete Your Account</h2>
					<h4>Are you sure, you want to delete your account?</h4>
					<a href="#" class="btn">Delete Account</a>
					<a href="#" class="btn cancle">Cancel</a>
				</div>			
			</div>
		</div><!-- container -->
	</section><!-- delete-page -->
	