<div class="tr-breadcrumb bg-image section-before">
		<div class="container">
			<div class="breadcrumb-info text-center">
				<div class="page-title">
					<h1>Forgot Password</h1>
					<span>Please enter the email linked to your account</span>
				</div>				
			</div>
		</div><!-- /.container -->
	</div><!-- tr-breadcrumb -->	

	<div class="tr-account section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="user-account">
						<div class="account-content">
							<form action="#" class="tr-form">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Please Enter Your Email">
								</div>						
								<button type="submit" class="btn btn-primary">Retrieve</button>
							</form>	
							<div class="new-user text-center">
								<span><a href="signup.html">Create a New Account</a> </span>
							</div>
						</div>
					</div>			
				</div>
			</div><!-- /.row -->			
		</div><!-- container -->
	</div><!-- /.tr-account-->	