
	<div class="tr-profile section-padding">
	    <div class="container">
	        <div class="row">
	        	<div class="col-sm-4 col-md-3">
	        		<div class="tr-sidebar">
						<ul class="nav nav-tabs profile-tabs section" role="tablist">
							<li role="presentation" class="active"><a href="#account-info" aria-controls="account-info" role="tab" data-toggle="tab"><i class="fa fa-life-ring" aria-hidden="true"></i> Account Info</a></li>
							<li role="presentation"><a href="#archived" aria-controls="archived" role="tab" data-toggle="tab"><span><i class="fa fa-clone" aria-hidden="true"></i></span> My Applications</a></li>
							<li role="presentation"><a href="#close-account" aria-controls="close-account" role="tab" data-toggle="tab"><span><i class="fa fa-scissors" aria-hidden="true"></i></span> Delete Account</a></li>
						</ul>	
						<a href="#" class="btn btn-primary"><i class="fa fa-cloud-download" aria-hidden="true"></i> <span>Download Resume as doc</span></a>		        			
	        		</div><!-- /.tr-sidebar -->        		
	        	</div>
	            <div class="col-sm-8 col-md-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active account-info" id="account-info">	
							
							<div class="section display-information">
								<div class="title title-after">
									<div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div> 
									<span>Your display Information</span>
								</div>

								<div class="change-photo">
									<div class="user-image">
										<img src="images/others/author.png" alt="Image" class="img-responsive">
									</div>
									<div class="upload-photo">
										<label class="btn btn-primary" for="upload-photo">
											<input type="file" id="upload-photo">
											Change Photo
										</label>
										<span class="max-size">Max 20 MB</span>
									</div>
								</div>
								<ul class="tr-list account-details">
									<li>Display Name<span>Jhon Doe</span></li>
									<li>Address<span>San Francisco, CA, US</span></li>
									<li>Phone Number<span>+0123456789</span></li>
									<li>Email Id<span><a href="#">jhondoe@gmail.com</a></span></li>
									<li>Industry Expertise<span>UI & UX Designer</span></li>
								</ul>								
							</div><!-- /.display-information -->
						</div><!-- /.tab-pane -->
						<div role="tabpanel" class="tab-pane apply-job" id="archived">
							<div class="job-item">
								<div class="job-info">
									<div class="left-content">
										<div class="clearfix">
											<div class="company-logo">
												<img src="images/job/1.png" alt="images" class="img-responsive">
											</div>
											<span class="tr-title">
												<a href="job-details.html">Design Associate</a><span><a href="#">Loop</a></span>
											</span>
											<span><a href="#" class="btn btn-primary">Part Time</a></span>
										</div>
										<ul class="tr-list job-meta">
											<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
											<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
											<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
										</ul>										
									</div>
									<div class="right-content">
										<a href="#" class="btn button-cancle">Delete application</a>
										<span class="applied">Applied: 3 weeks ago</span>
									</div>
								</div>
							</div>
							<div class="job-item remove-item">
								<div class="job-info">
									<div class="left-content">
										<div class="clearfix">
											<div class="company-logo">
												<img src="images/job/2.png" alt="images" class="img-responsive">
											</div>
											<span class="tr-title">
												<a href="job-details.html">Design Associate</a><span><a href="#">Loop</a></span>
											</span>
											<span><a href="#" class="btn btn-primary">Part Time</a></span>
										</div>
										<ul class="tr-list job-meta">
											<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
											<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
											<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
										</ul>										
									</div>
									<div class="right-content">
										<a href="#" class="btn button-cancle">Delete application</a>
										<span class="applied">Applied: 3 weeks ago</span>
									</div>
								</div>
							</div>
							<div class="job-item remove-item">
								<div class="job-info">
									<div class="left-content">
										<div class="clearfix">
											<div class="company-logo">
												<img src="images/job/3.png" alt="images" class="img-responsive">
											</div>
											<span class="tr-title">
												<a href="job-details.html">Design Associate</a><span><a href="#">Loop</a></span>
											</span>
											<span><a href="#" class="btn btn-primary">Part Time</a></span>
										</div>
										<ul class="tr-list job-meta">
											<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
											<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
											<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
										</ul>										
									</div>
									<div class="right-content">
										<a href="#" class="btn button-cancle">Delete application</a>
										<span class="applied">Applied: 3 weeks ago</span>
									</div>
								</div>
							</div>
							<div class="job-item remove-item">
								<div class="job-info">
									<div class="left-content">
										<div class="clearfix">
											<div class="company-logo">
												<img src="images/job/4.png" alt="images" class="img-responsive">
											</div>
											<span class="tr-title">
												<a href="job-details.html">Design Associate</a><span><a href="#">Loop</a></span>
											</span>
											<span><a href="#" class="btn btn-primary">Part Time</a></span>
										</div>
										<ul class="tr-list job-meta">
											<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
											<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
											<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
										</ul>										
									</div>
									<div class="right-content">
										<a href="#" class="btn button-cancle">Delete application</a>
										<span class="applied">Applied: 3 weeks ago</span>
									</div>
								</div>
							</div>
							<div class="job-item remove-item">
								<div class="job-info">
									<div class="left-content">
										<div class="clearfix">
											<div class="company-logo">
												<img src="images/job/5.png" alt="images" class="img-responsive">
											</div>
											<span class="tr-title">
												<a href="job-details.html">Design Associate</a><span><a href="#">Loop</a></span>
											</span>
											<span><a href="#" class="btn btn-primary">Part Time</a></span>
										</div>
										<ul class="tr-list job-meta">
											<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
											<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
											<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
										</ul>										
									</div>
									<div class="right-content">
										<a href="#" class="btn button-cancle">Delete application</a>
										<span class="applied">Applied: 3 weeks ago</span>
									</div>
								</div>
							</div>
							<div class="job-item remove-item">
								<div class="job-info">
									<div class="left-content">
										<div class="clearfix">
											<div class="company-logo">
												<img src="images/job/6.png" alt="images" class="img-responsive">
											</div>
											<span class="tr-title">
												<a href="job-details.html">Design Associate</a><span><a href="#">Loop</a></span>
											</span>
											<span><a href="#" class="btn btn-primary">Part Time</a></span>
										</div>
										<ul class="tr-list job-meta">
											<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
											<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
											<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
										</ul>										
									</div>
									<div class="right-content">
										<a href="#" class="btn button-cancle">Delete application</a>
										<span class="applied">Applied: 3 weeks ago</span>
									</div>
								</div>
							</div>
							<div class="job-item remove-item">
								<div class="job-info">
									<div class="left-content">
										<div class="clearfix">
											<div class="company-logo">
												<img src="images/job/7.png" alt="images" class="img-responsive">
											</div>
											<span class="tr-title">
												<a href="job-details.html">Design Associate</a><span><a href="#">Loop</a></span>
											</span>
											<span><a href="#" class="btn btn-primary">Part Time</a></span>
										</div>
										<ul class="tr-list job-meta">
											<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
											<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
											<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
										</ul>										
									</div>
									<div class="right-content">
										<a href="#" class="btn button-cancle">Delete application</a>
										<span class="applied">Applied: 3 weeks ago</span>
									</div>
								</div>
							</div>						
						</div><!-- /.tab-pane -->

						<div role="tabpanel" class="tab-pane section close-account" id="close-account">
							<h1>Delete Your Account</h1>
							<span>Are you sure, you want to delete your account?</span>
							<div class="buttons">
								<a href="#" class="btn btn-primary">Delete Account</a>
								<a href="#" class="btn button-cancle">Cancle</a>
							</div>
						</div><!-- /.tab-pane -->
					</div>
	            </div>
	        </div><!-- /.row -->
	    </div><!-- /.container -->
	</div><!-- /.tr-profile -->	
