
	
	<div class="page-content">
		<div class="container">
			<div class="tr-found section">
				<div class="row">
					<div class="col-sm-4">
						<div class="found-image">
							<img src="images/others/404.jpg" alt="Image" class="img-responsive">
						</div>
					</div>
					<div class="col-sm-8">
						<div class="found-info">
							<h1>404</h1>
							<h2>Page Not Found</h2>
							<p>We can't seem to find the page you're looking for.</p>
							<a href="index.html" class="btn btn-primary">Back to home</a>
						</div>
					</div>
				</div><!-- /.row -->				
			</div><!-- /.section -->
		</div><!-- /.container -->		
	</div><!-- /.page-content -->	

