
	<div class="tr-profile section-padding">
	    <div class="container">
	        <div class="row">
	        	<div class="col-sm-4 col-md-3">
	        		<div class="tr-sidebar">
						<ul class="nav nav-tabs profile-tabs section" role="tablist">
							
							<li role="presentation" class="active"><a href="{{baseurl}}Employer"></i> Account Info</a>
							</li>

							<li role="presentation"><a href="{{baseurl}}Employer/EditProfile"><span><i class="fa fa-user-o" aria-hidden="true"></i></span>Edit Company Profile</a>
							</li>

							<li role="presentation"><a href="{{baseurl}}Employer/Posted"><span><i class="fa fa-bell-o" aria-hidden="true"></i></span>Jobs Posted</a>
							</li>

							<li role="presentation"><a href="{{baseurl}}Post-A-Job" role="tab" data-toggle="tab"><span><i class="fa fa-clone" aria-hidden="true"></i></span>Post A Job</a>
							</li>

							<li role="presentation" ng-click="employer.logout()"><span><i class="fa fa-scissors" aria-hidden="true"></i>
							</span>Logout</li>
						</ul>	        			
	        		</div><!-- /.tr-sidebar -->        		
	        	</div>
	     				
	     			<div role="tabpanel" class="tab-pane section" id="edit-profile">
							<ul class="tr-list resume-info">
								<li class="career-objective">
									<div class="icon">
								        <i class="fa fa-black-tie" aria-hidden="true"></i>
								    </div>  
								    <div class="media-body">
								    	<span class="tr-title">Career Objective</span>
										<div class="code-edit">
									        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <br>
									        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni।</p>		
										</div>
								    </div>
								</li><!-- /.career-objective -->
								<li class="mission-vision">
									<div class="icon">
								        <i class="fa fa-anchor" aria-hidden="true"></i>
								    </div>  
								    <div class="media-body">
								    	<span class="tr-title">Mission & Vision</span>
								    	<div class="code-edit">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <br>
								        	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni।</p>
								    	</div>
								    </div>
								</li><!-- /.mission-vision -->
								<li class="work-history">
								    <div class="icon">
								    	<i class="fa fa-book" aria-hidden="true"></i>
								    </div>
								    <div class="media-body additem-achiev">
								    	<span class="tr-title">Company Achievement</span>
								    	<div id="achievement" class="additem">
								    		<span id="achiev-clone" class="icon clone"><i class="fa fa-plus" aria-hidden="true"></i></span>
								    		<span class="icon remove"><i class="fa fa-times" aria-hidden="true"></i></span>

							    			<div class="code-edit-small">
								    			<label>Title</label>
								    			<div class="code-edit">
								    				<span>Introducing Our Mobile “Nexus”</span>
								    			</div>
								    			<label>Year</label>
								    			<div class="calendar">
												    <input type="date" class="form-control" value="2017-06-25">
												</div>
							    			</div>
											<label>Description</label>
											<div class="code-edit">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
											</div>									    		
								    	</div>						    	
								    </div>
								</li><!-- /.work-history -->	
							</ul>
							<div class="buttons pull-right">
								<a href="#" class="btn button-cancle">Cancle</a>
								<a href="#" class="btn btn-primary">Update Profile</a>
							</div>														
						</div><!-- /.tab-pane -->


	        </div><!-- /.row -->
	    </div><!-- /.container -->
	</div><!-- /.tr-profile -->