
	<div class="tr-profile section-padding">
	    <div class="container">
	        <div class="row">
	        	<div class="col-sm-4 col-md-3">
	        		<div class="tr-sidebar">
						<ul class="nav nav-tabs profile-tabs section" role="tablist">
							
							<li role="presentation" class="active"><a href="{{baseurl}}Employer"></i> Account Info</a>
							</li>

							<li role="presentation"><a href="{{baseurl}}Employer/EditProfile"><span><i class="fa fa-user-o" aria-hidden="true"></i></span>Edit Company Profile</a>
							</li>

							<li role="presentation"><a href="{{baseurl}}Employer/Posted"><span><i class="fa fa-bell-o" aria-hidden="true"></i></span>Jobs Posted</a>
							</li>

							<li role="presentation"><a href="{{baseurl}}Post-A-Job" role="tab" data-toggle="tab"><span><i class="fa fa-clone" aria-hidden="true"></i></span>Post A Job</a>
							</li>

							<li role="presentation"  ng-click="employer.logout()"><span><i class="fa fa-scissors" aria-hidden="true"></i>
							</span>Logout</li>
						</ul>	        			
	        		</div><!-- /.tr-sidebar -->        		
	        	</div>

	        	<div role="tabpanel" class="tab-pane open-role" id="open-role">
							<div class="role remove-item">
								<div class="left-content">
									<div class="clearfix">
										<span class="tr-title">
											<a href="#">Design Associate</a>
										</span>
										<span><a href="#" class="btn btn-primary">Part Time</a></span>
									</div>
									<span class="deadline">Application Deadline : Jun 27, 2017</span>
									<ul class="tr-list job-meta">
										<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
										<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
										<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
									</ul>										
								</div>
								<div class="right-content">
									<span><a href="#"><i class="fa fa-pencil"></i></a></span>
									<span class="remove-icon"><i class="fa fa-trash-o"></i></span>
								</div>
							</div><!-- /.role -->
							<div class="role remove-item">
								<div class="left-content">
									<div class="clearfix">
										<span class="tr-title">
											<a href="#">Design Associate</a>
										</span>
										<span><a href="#" class="btn btn-primary">Part Time</a></span>
									</div>
									<span class="deadline">Application Deadline : Jun 27, 2017</span>
									<ul class="tr-list job-meta">
										<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
										<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
										<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
									</ul>										
								</div>
								<div class="right-content">
									<span><a href="#"><i class="fa fa-pencil"></i></a></span>
									<span class="remove-icon"><i class="fa fa-trash-o"></i></span>
								</div>
							</div><!-- /.role -->
							<div class="role remove-item">
								<div class="left-content">
									<div class="clearfix">
										<span class="tr-title">
											<a href="#">Design Associate</a>
										</span>
										<span><a href="#" class="btn btn-primary">Part Time</a></span>
									</div>
									<span class="deadline">Application Deadline : Jun 27, 2017</span>
									<ul class="tr-list job-meta">
										<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
										<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
										<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
									</ul>										
								</div>
								<div class="right-content">
									<span><a href="#"><i class="fa fa-pencil"></i></a></span>
									<span class="remove-icon"><i class="fa fa-trash-o"></i></span>
								</div>
							</div><!-- /.role -->
							<div class="role remove-item">
								<div class="left-content">
									<div class="clearfix">
										<span class="tr-title">
											<a href="#">Design Associate</a>
										</span>
										<span><a href="#" class="btn btn-primary">Part Time</a></span>
									</div>
									<span class="deadline">Application Deadline : Jun 27, 2017</span>
									<ul class="tr-list job-meta">
										<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
										<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
										<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
									</ul>										
								</div>
								<div class="right-content">
									<span><a href="#"><i class="fa fa-pencil"></i></a></span>
									<span class="remove-icon"><i class="fa fa-trash-o"></i></span>
								</div>
							</div><!-- /.role -->
							<div class="role remove-item">
								<div class="left-content">
									<div class="clearfix">
										<span class="tr-title">
											<a href="#">Design Associate</a>
										</span>
										<span><a href="#" class="btn btn-primary">Part Time</a></span>
									</div>
									<span class="deadline">Application Deadline : Jun 27, 2017</span>
									<ul class="tr-list job-meta">
										<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
										<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
										<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
									</ul>										
								</div>
								<div class="right-content">
									<span><a href="#"><i class="fa fa-pencil"></i></a></span>
									<span class="remove-icon"><i class="fa fa-trash-o"></i></span>
								</div>
							</div><!-- /.role -->
							<div class="role remove-item">
								<div class="left-content">
									<div class="clearfix">
										<span class="tr-title">
											<a href="#">Design Associate</a>
										</span>
										<span><a href="#" class="btn btn-primary">Part Time</a></span>
									</div>
									<span class="deadline">Application Deadline : Jun 27, 2017</span>
									<ul class="tr-list job-meta">
										<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
										<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
										<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
									</ul>										
								</div>
								<div class="right-content">
									<span><a href="#"><i class="fa fa-pencil"></i></a></span>
									<span class="remove-icon"><i class="fa fa-trash-o"></i></span>
								</div>
							</div><!-- /.role -->
							<div class="role remove-item">
								<div class="left-content">
									<div class="clearfix">
										<span class="tr-title">
											<a href="#">Design Associate</a>
										</span>
										<span><a href="#" class="btn btn-primary">Part Time</a></span>
									</div>
									<span class="deadline">Application Deadline : Jun 27, 2017</span>
									<ul class="tr-list job-meta">
										<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>San Francisco, CA, US</li>
										<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>Mid Level</li>
										<li><span><i class="fa fa-money" aria-hidden="true"></i></span>$5,000 - $6,000</li>
									</ul>										
								</div>
								<div class="right-content">
									<span><a href="#"><i class="fa fa-pencil"></i></a></span>
									<span class="remove-icon"><i class="fa fa-trash-o"></i></span>
								</div>
							</div><!-- /.role -->							
						</div><!-- /.tab-pane -->

	        </div><!-- /.row -->
	    </div><!-- /.container -->
	</div><!-- /.tr-profile -->