<div class="tr-account section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="user-account">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs  nav-justified" role="tablist">
							<li role="presentation"><a href="#employers" aria-controls="employers" role="tab" data-toggle="tab">Employers</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-psane" id="employsers">
								<div class="account-content">
									<form action="#" class="tr-form">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Company Name">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Email">
										</div>
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Password">
										</div>
										<div class="form-group">
											<input type="password" class="form-control" placeholder="Confirm Password">
										</div>
										<div class="dropdown tr-change-dropdown">
											<a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Industry Type</span><i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu tr-change">
												<li><a href="#">Industry 1</a></li>
												<li><a href="#">Industry 2</a></li>
												<li><a href="#">Industry 3</a></li>
											</ul>								
										</div><!-- /.category-change -->
										
										<div class="form-group">
											<label>Address</label>
											<textarea class="form-control"></textarea>
										</div>
										<div class="dropdown tr-change-dropdown">
											<a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">City</span><i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu tr-change">
												<li><a href="#">Lagos</a></li>
												<li><a href="#">Abuja</a></li>
												<li><a href="#">Ibadan</a></li>
											</ul>								
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Postal Code">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Contact Number">
										</div>
											<div class="checkbox">
												<label for="logged"><input type="checkbox" name="logged" id="logged">I accept the <a href="">terms and conditions</a></label>
											</div>
											<br /><br />
									<button type="submit" class="btn btn-primary">Sign Up</button>
									</form>	
									<div class="new-user text-center">
										<span>Already Registered? <a href="{{baseurl}}Employer/Login">Sign in</a> </span>
									</div>
								</div>
							</div>
						</div>				
					</div>			
				</div>
			</div><!-- /.row -->			
		</div><!-- container -->
	</div><!-- /.tr-account-->	
